{
  "REGION": "ap-southeast-1",
  "STAGE": "local",
  "JWT_SECRET": "jwtsecret",
  "JWT_REFRESH_TOKEN_SECRET": "jwtrefresh",
  "PROFILE": "nest-team",
  "MONGODB_HOST": "mongodb+srv://nest_team:nest_team@cluster0.nvhbg.mongodb.net/myFirstDatabase?retryWrites=true&w=majority",
  "REDIS": "redis://127.0.0.1:6379",
  "REDIS_DB": "1"
}
